# Salesforce Connected App
SF_CLIENT_ID=3MVG9Xl3BC6VHB.aQXoaABTEjcKhzH6OF0stybcTNhPQ7Id175K67Qwi.Bo8HOlwFOPPHcK8HRRJ2Aq_wSzys
SF_CLIENT_SECRET=your_consumer_secret_here
SF_REFRESH_TOKEN=your_refresh_token_here
SF_INSTANCE_URL=https://bigthink.my.salesforce.com
SF_LOGIN_URL=https://login.salesforce.com
